@page "/List"

<PageTitle>List</PageTitle>

<div class="d-flex w-100 justify-content-center">
    <div class="d-flex align-items-center flex-column w-75">
        <input @bind-value:event="oninput" @bind-value="currentProcedureType.Id" disabled="disabled" type="text" class="form-control mt-3" placeholder="Enter procedure name">
        <input @bind-value:event="oninput" @bind-value="currentProcedureType.Name" type="text" class="form-control mt-3" placeholder="Enter procedure name">
        <input @bind-value:event="oninput" @bind-value="currentProcedureType.Description" type="text" class="form-control mt-3" placeholder="Enter procedure name">
        <input @bind-value:event="oninput" @bind-value="currentProcedureType.ApproximateTime" type="time" class="form-control mt-3" placeholder="Enter procedure name">
        <div class="d-flex mt-3">
            @if (currentShift > 0)
            {
                <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => ReadPrevious()">Previous</button>
            }
            <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => Update()">Update</button>
            @if (!isNewCreating)
            {
                <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => StartCreatingNew()">New</button>
            }
            else
            {
                <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => SaveNew()">Save</button>
                <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => CancelNewCreating()">Cancel</button>
                
            }
            @if (currentShift < maxCount - 1)
            {
                <button class="btn btn-outline-secondary me-2" type="button" @onclick="_ => ReadNext()">Next</button>
            }
        </div>
    </div>
</div>